<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to RentWheels!</h1>
    <p class="lead">Rent a vehicle for your next adventure!</p>
    <div class="container">
        <a class="btn btn-primary btn-lg" asp-action="All" asp-controller="Car" role="button">Rent Now</a>
    </div>
</div>

<div class="container">
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="https://as2.ftcdn.net/v2/jpg/01/82/79/15/1000_F_182791568_tMC0boBi8N8pQCN1AfqiJWJX3nTc8rJr.jpg" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title">Easy Booking</h3>
                    <p class="card-text">Book your vehicle quickly and hassle-free</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="https://as1.ftcdn.net/v2/jpg/05/90/94/28/1000_F_590942801_SRhmWxm4EHmiG2CqgeHEC1akCjGzZkdu.jpg" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title">Wide Selection</h3>
                    <p class="card-text">Choose from a variety of vehicles for every occasion</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="https://as1.ftcdn.net/v2/jpg/04/87/92/60/1000_F_487926018_Jv0AzDpX7cTE1Qvcg7TpLGzGF6k0PYZm.jpg" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title">Affordable Prices</h3>
                    <p class="card-text">Get competitive rates on all rentals</p>
                </div>
            </div>
        </div>
    </div>
</div>