@model ReviewFormViewModel

<h2 class="text-center">Edit the user's review</h2>

<partial name="_AdminReviewFormPartial" model="@Model">

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}